pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #f8f8f8; }
.highlight .c { color: #3D7B7B; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #F00 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666 } /* Operator */
.highlight .ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #9C6500 } /* Comment.Preproc */
.highlight .cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
.highlight .cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #E40000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #008400 } /* Generic.Inserted */
.highlight .go { color: #717171 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #04D } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #687822 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #00F; font-weight: bold } /* Name.Class */
.highlight .no { color: #800 } /* Name.Constant */
.highlight .nd { color: #A2F } /* Name.Decorator */
.highlight .ni { color: #717171; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #00F } /* Name.Function */
.highlight .nl { color: #767600 } /* Name.Label */
.highlight .nn { color: #00F; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #A2F; font-weight: bold } /* Operator.Word */
.highlight .w { color: #BBB } /* Text.Whitespace */
.highlight .mb { color: #666 } /* Literal.Number.Bin */
.highlight .mf { color: #666 } /* Literal.Number.Float */
.highlight .mh { color: #666 } /* Literal.Number.Hex */
.highlight .mi { color: #666 } /* Literal.Number.Integer */
.highlight .mo { color: #666 } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #A45A77 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #00F } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666 } /* Literal.Number.Integer.Long */pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.dark .highlight .hll { background-color: #ffffcc }
.dark .highlight { background: #282C34; color: #ABB2BF }
.dark .highlight .c { color: #7F848E } /* Comment */
.dark .highlight .err { color: #ABB2BF } /* Error */
.dark .highlight .esc { color: #ABB2BF } /* Escape */
.dark .highlight .g { color: #ABB2BF } /* Generic */
.dark .highlight .k { color: #C678DD } /* Keyword */
.dark .highlight .l { color: #ABB2BF } /* Literal */
.dark .highlight .n { color: #E06C75 } /* Name */
.dark .highlight .o { color: #56B6C2 } /* Operator */
.dark .highlight .x { color: #ABB2BF } /* Other */
.dark .highlight .p { color: #ABB2BF } /* Punctuation */
.dark .highlight .ch { color: #7F848E } /* Comment.Hashbang */
.dark .highlight .cm { color: #7F848E } /* Comment.Multiline */
.dark .highlight .cp { color: #7F848E } /* Comment.Preproc */
.dark .highlight .cpf { color: #7F848E } /* Comment.PreprocFile */
.dark .highlight .c1 { color: #7F848E } /* Comment.Single */
.dark .highlight .cs { color: #7F848E } /* Comment.Special */
.dark .highlight .gd { color: #ABB2BF } /* Generic.Deleted */
.dark .highlight .ge { color: #ABB2BF } /* Generic.Emph */
.dark .highlight .ges { color: #ABB2BF } /* Generic.EmphStrong */
.dark .highlight .gr { color: #ABB2BF } /* Generic.Error */
.dark .highlight .gh { color: #ABB2BF } /* Generic.Heading */
.dark .highlight .gi { color: #ABB2BF } /* Generic.Inserted */
.dark .highlight .go { color: #ABB2BF } /* Generic.Output */
.dark .highlight .gp { color: #ABB2BF } /* Generic.Prompt */
.dark .highlight .gs { color: #ABB2BF } /* Generic.Strong */
.dark .highlight .gu { color: #ABB2BF } /* Generic.Subheading */
.dark .highlight .gt { color: #ABB2BF } /* Generic.Traceback */
.dark .highlight .kc { color: #E5C07B } /* Keyword.Constant */
.dark .highlight .kd { color: #C678DD } /* Keyword.Declaration */
.dark .highlight .kn { color: #C678DD } /* Keyword.Namespace */
.dark .highlight .kp { color: #C678DD } /* Keyword.Pseudo */
.dark .highlight .kr { color: #C678DD } /* Keyword.Reserved */
.dark .highlight .kt { color: #E5C07B } /* Keyword.Type */
.dark .highlight .ld { color: #ABB2BF } /* Literal.Date */
.dark .highlight .m { color: #D19A66 } /* Literal.Number */
.dark .highlight .s { color: #98C379 } /* Literal.String */
.dark .highlight .na { color: #E06C75 } /* Name.Attribute */
.dark .highlight .nb { color: #E5C07B } /* Name.Builtin */
.dark .highlight .nc { color: #E5C07B } /* Name.Class */
.dark .highlight .no { color: #E06C75 } /* Name.Constant */
.dark .highlight .nd { color: #61AFEF } /* Name.Decorator */
.dark .highlight .ni { color: #E06C75 } /* Name.Entity */
.dark .highlight .ne { color: #E06C75 } /* Name.Exception */
.dark .highlight .nf { color: #61AFEF; font-weight: bold } /* Name.Function */
.dark .highlight .nl { color: #E06C75 } /* Name.Label */
.dark .highlight .nn { color: #E06C75 } /* Name.Namespace */
.dark .highlight .nx { color: #E06C75 } /* Name.Other */
.dark .highlight .py { color: #E06C75 } /* Name.Property */
.dark .highlight .nt { color: #E06C75 } /* Name.Tag */
.dark .highlight .nv { color: #E06C75 } /* Name.Variable */
.dark .highlight .ow { color: #56B6C2 } /* Operator.Word */
.dark .highlight .pm { color: #ABB2BF } /* Punctuation.Marker */
.dark .highlight .w { color: #ABB2BF } /* Text.Whitespace */
.dark .highlight .mb { color: #D19A66 } /* Literal.Number.Bin */
.dark .highlight .mf { color: #D19A66 } /* Literal.Number.Float */
.dark .highlight .mh { color: #D19A66 } /* Literal.Number.Hex */
.dark .highlight .mi { color: #D19A66 } /* Literal.Number.Integer */
.dark .highlight .mo { color: #D19A66 } /* Literal.Number.Oct */
.dark .highlight .sa { color: #98C379 } /* Literal.String.Affix */
.dark .highlight .sb { color: #98C379 } /* Literal.String.Backtick */
.dark .highlight .sc { color: #98C379 } /* Literal.String.Char */
.dark .highlight .dl { color: #98C379 } /* Literal.String.Delimiter */
.dark .highlight .sd { color: #98C379 } /* Literal.String.Doc */
.dark .highlight .s2 { color: #98C379 } /* Literal.String.Double */
.dark .highlight .se { color: #98C379 } /* Literal.String.Escape */
.dark .highlight .sh { color: #98C379 } /* Literal.String.Heredoc */
.dark .highlight .si { color: #98C379 } /* Literal.String.Interpol */
.dark .highlight .sx { color: #98C379 } /* Literal.String.Other */
.dark .highlight .sr { color: #98C379 } /* Literal.String.Regex */
.dark .highlight .s1 { color: #98C379 } /* Literal.String.Single */
.dark .highlight .ss { color: #98C379 } /* Literal.String.Symbol */
.dark .highlight .bp { color: #E5C07B } /* Name.Builtin.Pseudo */
.dark .highlight .fm { color: #56B6C2; font-weight: bold } /* Name.Function.Magic */
.dark .highlight .vc { color: #E06C75 } /* Name.Variable.Class */
.dark .highlight .vg { color: #E06C75 } /* Name.Variable.Global */
.dark .highlight .vi { color: #E06C75 } /* Name.Variable.Instance */
.dark .highlight .vm { color: #E06C75 } /* Name.Variable.Magic */
.dark .highlight .il { color: #D19A66 } /* Literal.Number.Integer.Long */
